
:root {
	--main-font-famil:'Roboto', sans-serif;
	--main-text-color: #212121;
	--color-text-paragraph:  #757575;
	--text-button-hover: #FFFFFF;
}

body {
	font-family: var(--main-font-famil);
}
li {
	list-style: none;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #2196F3;
}
.logo-color-black {
	color: #000000;
}
.logo-color-white {
	color: #FFFFFF;
}
.navigation .link{
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
}
.navigation .link:hover,
.navigation .link:focus {
	color: #2196F3;
}
.contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--color-text-paragraph);
}
.contacts:hover,
.contacts:focus {
	color: #2196F3;
}
.main-header {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	
	/* color: #FFFFFF */
}

.button {
	font-family: var(--main-font-famil);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	color: var(--text-button-hover);
	background: #2196F3;
	}

.advantage {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
.advantage-paragraph {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--color-text-paragraph);
}
.team-bg {
	background: #F5F4FA;
}
.second-header {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
.our-team {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
.profession {
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--color-text-paragraph);
}
.footer-bg {
	background-color: #2F303A;
}
.address {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	font-style: normal;
}
.button-portfolio {
	font-family: var(--main-font-famil);
	font-weight: 700;
	font-size: 16px;
	line-height: 2;
	color: var(--main-text-color);
}
.button-portfolio:hover,
.button-portfolio:focus {
	color: var(--text-button-hover);
	background: #2196F3;
}

.activity {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-text-color);
}
.activity-prof {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--color-text-paragraph);
}








	